<label>Server Name</label>
<!-- <input type="text" class="form-control"
(input)="onUpdateServerName($event)"> -->

 <input type="text" class="form-control"
[(ngModel)]="serverName"> 
<!-- <p>{{serverName}}</p> -->

<button class="bt btn-primary"
 [disabled]="allowNewServer"
 (click)="onCreateServer()">Add Server</button>

 <!-- <p [innerText]="allowNewServer"></p> -->
  <!-- <p>{{serverCreationStatus}}</p> -->
 <p *ngIf="serverCReated">Server was created , server name is {{serverName}}</p>
<app-server></app-server>
<app-server></app-server>

<!-- if you want to print someting on the html use string interpolation 
if you want to change the value then use property binding -->

<!-- assignment started
<input type="text" class="form-control" [(ngModel)]="heheh">
<p>{{heheh}}</p>

<button class="btn btn-primary" [disabled]="heheh===''">Reset User</button>

<button class="btn btn-primary" [disabled]="heheh===''" (click)="heheh=''">Reset karo bhai </button>

assignement ended -->